.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}
